{% extends 'layout.html.twig' %}


{% block main %}
<h1 class="font-bold text-xl">API Intergration Setup</h1>
<div>
<label class="font-bold">HTTP Status Codes</label>
<ul>
<li>Secure an interview</li>
<li>Be awesome</li>
</ul
</div>
{% endblock %}
